<h2>Здравствуйте, <%= @lead.name %>!</h2>
<p>Спасибо, что обратились к нам. Мы получили вашу заявку на дизайн-проект.</p>
<p>Вот копия ваших ответов:</p>

<ul>
  <li><b>Тип помещения:</b> <%= @lead.answers['room_type'] %></li>
  <li><b>Зоны:</b> <%= Array(@lead.answers['zones']).join(', ') %></li>
  <li><b>Площадь:</b> <%= @lead.answers['area'] %> м²</li>
  <li><b>Стиль:</b> <%= @lead.answers['style'] %></li>
  <li><b>Бюджет:</b> <%= @lead.answers['budget'] %></li>
</ul>

<p>Наш менеджер скоро свяжется с вами по номеру <%= @lead.phone %>.</p>